language: python

python:
  - "3.6"

install:
  - pip install mkdocs
  - pip install mkdocs mkdocs-material
  - pip install mkdocs-git-revision-date-plugin
  - pip install mkdocs-git-revision-date-localized-plugin
  - echo -e "machine github.com\n  login ${GITHUB_TOKEN}" > ~/.netrc

script:
  - mkdocs gh-deploy --force --clean

branches:
  only:
    - master