site_name: zh-Spike 
site_description: studyRepo学习笔记
site_author: zh-Spike
site_url: https://zh-spike.github.io/studyRepo

# Copyright
copyright: Copyright &copy; zh-Spike

repo_name: 'studyRepo'
repo_url: 'https://github.com/zh-Spike/studyRepo'

theme: 
  name: material
  features:
    # - navigation.instant
    - navigation.sections
    - navigation.tabs
  language: 'zh'
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'
  palette:
    primary: 'pink'
    accent: 'light blue'
  icon:
    logo: material/library
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true


# Customization
extra:
  search:
    language: 'jp'
  pagetime: 'on'
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/zh-Spike
    - icon: fontawesome/solid/paper-plane
      link: mailto:zh-spike@outlook.com

extra_javascript:
  - '_static/js/extra.js?v=16'
  - 'https://cdn.jsdelivr.net/npm/mathjax@2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'

extra_css:
  - '_static/css/extra.css?v=13'
  
# Extensions
markdown_extensions:
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - admonition
  - codehilite:
      guess_lang: false
      linenums: true
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - git-revision-date-localized
  - git-revision-date
  - search

plugins:
  - search:
      lang: ja
      prebuild_index: true
  - git-revision-date-localized:
      type: iso_datetime
      fallback_to_build_date: true
  - git-revision-date:
      enabled_if_env: CI

# Content
nav:
  - Introduction: 
    - README: index.md
    - About: about.md
  - DataStructure:
    - Java刷题的一般写法: Algorithm/Notes/Java刷题的一般写法.md
    - 数据结构:
      - Queue&Stack: Algorithm/Notes/DataStructure/Queue&Stack.md
      - 二叉树: Algorithm/Notes/DataStructure/二叉树.md
      - 矩阵: Algorithm/Notes/DataStructure/矩阵.md
      - 链表: Algorithm/Notes/DataStructure/链表.md
      - 排序: Algorithm/Notes/DataStructure/排序.md
      - 图: Algorithm/Notes/DataStructure/图.md
    - 高级数据结构:
      - 高级数据结构: Algorithm/Notes/AdvancedDataStructure/高级数据结构.md
      - 并查集: Algorithm/Notes/AdvancedDataStructure/并查集.md
      - 单调栈: Algorithm/Notes/AdvancedDataStructure/单调栈.md
      - 哈希表和有序表: Algorithm/Notes/AdvancedDataStructure/哈希表和有序表.md
    - 算法:
      - BFPRT 算法: Algorithm/Notes/Algorithm/BFPRT算法.md
      - KMP 和 Manacher 算法: Algorithm/Notes/Algorithm/KMP 和 Manacher.md
      - LRU & LFU: Algorithm/Notes/Algorithm/LRU & LFU.md
      - Morris遍历: Algorithm/Notes/Algorithm/Morris遍历.md
    - 技巧:
      - 从暴力哥到DP: Algorithm/Notes/Strategy/从暴力哥到DP.md
      - 打表找规律: Algorithm/Notes/Strategy/打表找规律.md
      - 大数据: Algorithm/Notes/Strategy/大数据.md
      - 拒绝采样问题: Algorithm/Notes/Strategy/概率转化(拒绝采样)问题.md
      - 哈希函数: Algorithm/Notes/Strategy/哈希函数.md
      - 滑窗: Algorithm/Notes/Strategy/滑窗.md
      - 树形DP: Algorithm/Notes/Strategy/树形DP.md
      - 预处理: Algorithm/Notes/Strategy/预处理.md
      - 卡塔兰数: Algorithm/Notes/Strategy/卡塔兰数.md
  - Java:
    - Arrays.asList()解读: Java/Arrays.asList() 源码解析.md
    - Deque: Java/该用Deque了.md
  - LeetCode:
    - 题库:
      - 3. 无重复字符的最长子串: Algorithm/LC/3. 无重复字符的最长子串.md
      - 5. 最长回文子串: Algorithm/LC/5. 最长回文子串.md
      - 23. 合并K个升序链表: Algorithm/LC/23. 合并K个升序链表.md
    - 剑指OFFER:
      - 剑指 Offer 04. 二维数组中的查找: Algorithm/LC/剑指 Offer 04. 二维数组中的查找.md
      - 剑指 Offer 21. 调整数组顺序使奇数位于偶数前面: Algorithm/LC/剑指 Offer 21. 调整数组顺序使奇数位于偶数前面.md
      - 剑指 Offer 29. 顺时针打印矩阵: Algorithm/LC/剑指 Offer 29. 顺时针打印矩阵.md
      - 剑指 Offer 37. 序列化二叉树: Algorithm/LC/剑指 Offer 37. 序列化二叉树.md
      - 剑指 Offer 40. 最小的k个数: Algorithm/LC/剑指 Offer 40. 最小的k个数.md
      - 剑指 Offer 41. 数据流中的中位数: Algorithm/LC/剑指 Offer 41. 数据流中的中位数.md
      - 剑指 Offer 42. 连续子数组的最大和: Algorithm/LC/剑指 Offer 42. 连续子数组的最大和.md
      - 剑指 Offer 46. 把数字翻译成字符串: Algorithm/LC/剑指 Offer 46. 把数字翻译成字符串.md
      - 剑指 Offer 51. 数组中的逆序对: Algorithm/LC/剑指 Offer 51. 数组中的逆序对.md
      - 剑指 Offer 61. 扑克牌中的顺子: Algorithm/LC/剑指 Offer 61. 扑克牌中的顺子.md
      - 剑指 Offer 68 - II. 二叉树的最近公共祖先: Algorithm/LC/剑指 Offer 68 - II. 二叉树的最近公共祖先.md
    - 金经:
      - 面试题 01.07. 旋转矩阵: Algorithm/LC/面试题 01.07. 旋转矩阵.md
      - 面试题 02.08. 环路检测: Algorithm/LC/面试题 02.08. 环路检测.md
      - 面试题 03.02. 栈的最小值: Algorithm/LC/面试题 03.02. 栈的最小值.md
      - 面试题 03.05. 栈排序: Algorithm/LC/面试题 03.05. 栈排序.md
      - 面试题 04.04. 检查平衡性: Algorithm/LC/面试题 04.04. 检查平衡性.md
      - 面试题 04.06. 后继者: Algorithm/LC/面试题 04.06. 后继者.md
      - 面试题 17.24. 最大子矩阵: Algorithm/LC/面试题 17.24. 最大子矩阵.md
    - 周赛: 
      - 第 42 场双周赛: Algorithm/LC/第 42 场双周赛.md
      - 第 43 场双周赛: Algorithm/LC/第 43 场双周赛.md
      - 第 221 场周赛: Algorithm/LC/第 221 场周赛.md
      - 第 222 场双周赛: Algorithm/LC/第 222 场周赛.md
  - Tricks:
    - VIM应用: Tricks/vim.md
    - Linux: Tricks/linux.md



# Google Analytics
google_analytics:
  - !!python/object/apply:os.getenv ["GOOGLE_ANALYTICS_KEY"]
  - auto    
