site_name: zh-Spike 
site_description: studyRepo学习笔记
site_author: zh-Spike
site_url: https://zh-spike.github.io/studyRepo

# Copyright
copyright: Copyright &copy; zh-Spike

repo_name: 'studyRepo'
repo_url: 'https://github.com/zh-Spike/studyRepo'

theme: 
  name: material
  features:
    # - navigation.instant
    - navigation.sections
    - navigation.tabs
  language: 'zh'
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'
  palette:
    primary: 'white'
    accent: 'pink'
  icon:
    logo: material/library
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true


# Customization
extra:
  search:
    language: 'jp'
  pagetime: 'on'
  copyright: '<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">CC BY-SA 4.0</a> 和 <a href="https://github.com/zTrix/sata-license">SATA</a>'
  manifest: 'manifest.webmanifest'
  githash: ''
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/zh-Spike
    - icon: fontawesome/solid/paper-plane
      link: mailto:zh-spike@outlook.com

extra_javascript:
  - '_static/js/extra.js?v=16'
  - 'https://cdn.jsdelivr.net/npm/mathjax@2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'

extra_css:
  - '_static/css/extra.css?v=13'

# Extensions
markdown_extensions:
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - admonition
  - codehilite:
      guess_lang: false
      linenums: true
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - git-revision-date-localized
  - git-revision-date

plugins:
  - git-revision-date-localized:
      type: iso_datetime
      fallback_to_build_date: true
  - git-revision-date:
      enabled_if_env: CI

# Content
nav:
  - 简介: 
    - 简介: index.md
    - about: about.md
  - DataStructure:
    - Java刷题的一般写法: Algorithm/Notes/Java刷题的一般写法.md
    - 数据结构:
      - Queue&Stack: Algorithm/Notes/DataStructure/Queue&Stack.md
      - 二叉树: Algorithm/Notes/DataStructure/二叉树.md
      - 矩阵: Algorithm/Notes/DataStructure/矩阵.md
      - 链表: Algorithm/Notes/DataStructure/链表.md
      - 排序: Algorithm/Notes/DataStructure/排序.md
      - 图: Algorithm/Notes/DataStructure/图.md
    - 高级数据结构:
      - 高级数据结构: Algorithm/Notes/AdvancedDataStructure/高级数据结构.md
      - 并查集: Algorithm/Notes/AdvancedDataStructure/并查集.md
      - 单调栈: Algorithm/Notes/AdvancedDataStructure/单调栈.md
      - 哈希表和有序表: Algorithm/Notes/AdvancedDataStructure/哈希表和有序表.md
    - 算法:
      - BFPRT 算法: Algorithm/Notes/Algorithm/BFPRT算法.md
      - KMP 和 Manacher 算法: Algorithm/Notes/Algorithm/KMP 和 Manacher.md
      - LRU & LFU: Algorithm/Notes/Algorithm/LRU & LFU.md
      - Morris遍历: Algorithm/Notes/Algorithm/Morris遍历.md
    - 技巧:
      - 从暴力哥到DP: Algorithm/Notes/Strategy/从暴力哥到DP.md
      - 打表找规律: Algorithm/Notes/Strategy/打表找规律.md
      - 大数据: Algorithm/Notes/Strategy/大数据.md
      - 拒绝采样问题: Algorithm/Notes/Strategy/概率转化(拒绝采样)问题.md
      - 哈希函数: Algorithm/Notes/Strategy/哈希函数.md
      - 滑窗: Algorithm/Notes/Strategy/滑窗.md
      - 树形DP: Algorithm/Notes/Strategy/树形DP.md
      - 预处理: Algorithm/Notes/Strategy/预处理.md
      - 卡塔兰数: Algorithm/Notes/Strategy/卡塔兰数.md
  - Java:
    - Arrays.asList()解读: Java/Arrays.asList() 源码解析.md
    - Deque: Java/该用Deque了.md
  - Tricks:
    - VIM应用: Tricks/vim.md
    - Linux: Tricks/linux.md



# Google Analytics
google_analytics:
  - !!python/object/apply:os.getenv ["GOOGLE_ANALYTICS_KEY"]
  - auto    
